.ifp_page
{
    background-color: #fff!important;
}
.nice_guidance_page
{
    background-color: #fff!important;
}

.ifp_header
{
    background-color: #fff!important;
}
.ifp_icon 
{
	background-color: #fff!important;
}
.ifp_owner_product_title 
{
	color: #000!important;
}

.guidance_toolbar_container,.zone-navigation,.zone-footer,.guidance-chapter-links,#left-nav-container {
    display: none;
}
#abe-container,.abe-menu,.profile-container {
    display: none;
}
#main-container {
    margin-top: 1em;
}
.chapter_navigation_buttons {
    visibility: hidden;
}
#layout-navigation {
    display: none;   
}
body,h1,h2,h3,h4,h5,h6 {
    color: #000!important;
    background: #fff!important;
    font-size: 12pt;
}
a {
    color: #00f!important;
}
#nicelogo {
    display: block!important;
}
#contents-container {
    margin-left: 0!important;
}
.navbar-inner,.callouts,footer,.do-not-print {
    display: none!important;
}
/* start chapterprint.css*/
.ifp_page
{
    background-color: #fff!important;
}
.nice_guidance_page
{
    background-color: #fff!important;
}

.ifp_header
{
    background-color: #fff!important;
}
.ifp_icon 
{
	background-color: #fff!important;
}
.ifp_owner_product_title 
{
	color: #000!important;
}

.guidance_toolbar_container,.zone-navigation,.zone-footer,.guidance-chapter-links,#left-nav-container {
    display: none;
}
#abe-container,.abe-menu,.profile-container {
    display: none;
}
#main-container {
    margin-top: 1em;
}
.chapter_navigation_buttons {
    visibility: hidden;
}
#layout-navigation {
    display: none;   
}
body,h1,h2,h3,h4,h5,h6 {
    color: #000!important;
    background: #fff!important;
    font-size: 12pt;
}
a {
    color: #00f!important;
}
#nicelogo {
    display: block!important;
}
#contents-container {
    margin-left: 0!important;
}
.navbar-inner,.callouts,footer {
    display: none!important;
}
#printpane {
    background-color: transparent;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}
/* end chapterprint.css */
/* start newsitem.css*/
.news-right-col, .related-resources, .zone-navigation, .zone-footer, .share-links {
    display: none!important;
}

#abe-container, .abe-menu, .profile-container {
    display: none;
}

#main-container {
    margin-top: 1em;
}

#layout-navigation {
    display: none;
}

body, h1, h2, h3, h4, h5, h6 {
    color: #000!important;
    background: #fff!important;
    font-size: 12pt;
}

a {
    color: #00f!important;
}
/*.product_title-code .large-title {
    border-top: 7px solid #000!important;
    border-bottom: 7px solid #000!important;
}*/
#nicelogo {
    display: block!important;
}
.navbar-inner,.callouts,footer {
    display: none!important;
}
/* end newsitem.css */
.page-header {
    display: none;
}
#printpane {
    background-color: transparent;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}

.percentage {
    background-color: #fff !important;
    border: 1px solid #000;
}

.percentage .value {
    background-color: #fff !important;
    color: #000 !important;
    border: 1px solid #000;
    margin: 0 0 0 0!important;
}

*{transition:none!important;}

.icon-stack [class^=icon-], .icon-stack [class*=" icon-"] {
    display: none;
}

.menu-anonymous {
    display: none;
}

.menu-mobile {
    display: none !important;
}


.nav-tabs > .guidance-tab.active > a, .nav-tabs > .guidance-tab > a, .nav-tabs > .guidance-tab > a, .nav-pills > .guidance-tab > a {
    border:none;
}

.pagination .next > a, .pagination .next > span, .pagination .previous > a, .pagination .previous > span, .nice-tophat .profile-avatar  {
    display: none;
}


.isotope-item {
    position: relative !important;
    transform: none !important;
}

.isotope.unstyled {
    height: inherit !important;
}

.panel-grid.isotope {
     overflow:visible;
     position: static;
     height: inherit !important;
}

#nicelogo {
    display: none !important;
}

.guidance_logos img {
    max-width: 257px !important;
}

#guidance-tabs-container .tab-content .section-footer, .tab-content {
    overflow : hidden;
}

#shared-learning-detail h2.context-heading {
    border-bottom:none;
}


@media (max-width: 960px) {
    .table-responsive {
        overflow-x: visible;
        overflow-y:visible;


    }


.table-responsive > .table > tbody > tr > td {
    white-space: normal;
        }
}

    .panel-grid .panel {
        width: 100%;
        margin-right: 0;
    }
