body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1152px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:24px;
  top:50px;
  width:552px;
  height:37px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:37px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:24px;
  top:140px;
  width:526px;
  height:690px;
  color:#666666;
  line-height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  height:690px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:600px;
  top:140px;
  width:552px;
  height:510px;
  font-size:18px;
  line-height:26px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:510px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:888px;
  top:740px;
  width:264px;
  height:50px;
  font-size:18px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:50px;
}
#u6_img.mouseOver {
}
#u6.mouseOver {
}
#u7 {
  position:absolute;
  left:2px;
  top:14px;
  width:260px;
  word-wrap:break-word;
}
