.tophat .tophat-inner {
  background: #37474f;
}
body > .layout {
  margin-top: 48px;
  margin-bottom: 48px;
}
.btn-group {
  margin: 0;
  position: absolute;
  bottom: 48px;
}
.btn {
  color: white;
  background: #007dba;
  padding: 12px 24px;
  transition-property: background;
  transition-duration: 0.2s;
}
.btn:hover {
  background: #292f33;
}
.carousel-area {
  max-width: 1170px;
  height: 360px;
  background: #506470;
  margin-bottom: 48px;
  position: relative;
  overflow: hidden;
}
.carousel-area img {
  /*z-index: 100;*/

  position: relative;
  position: absolute;
  right: 0;
}
.carousel-area .carousel-caption {
  width: 50%;
  /*820/1170*/

  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  /*z-index: 200;*/

  background-color: #0093da;
  padding: 0;
}
.carousel-area .carousel-caption h1,
.carousel-area .carousel-caption p {
  color: white;
  margin-bottom: 24px;
}
.carousel-area .carousel-caption h1 {
  font-size: 40px;
  line-height: 48px;
}
.carousel-area .carousel-caption a {
  border: 0;
}
.carousel-area .inner {
  padding: 48px 48px 0 48px;
}
.carousel-area .carousel-control {
  position: absolute;
  top: 50%;
  width: 48px;
  height: 48px;
  border: 0;
  border-radius: 0;
  opacity: 1;
  filter: alpha(opacity=100);
  margin-top: -24px;
  background: #c1ccd2;
  color: white;
  font-size: 24px;
  line-height: 50px;
  padding: 0;
  font-weight: 400;
  text-align: center;
  -webkit-box-shadow: inset 0 1px 0 0 white;
  box-shadow: inset 0 1px 0 0 white;
  transition-property: background;
  transition-duration: 0.2s;
}
.carousel-area .carousel-control.left {
  left: -48px;
}
.carousel-area .carousel-control.right {
  right: -48px;
}
.carousel-area .carousel-control:hover {
  color: white;
  background: #506470;
}
.tabbable,
.nav-tabs {
  background-color: transparent;
}
.nav-tabs {
  -webkit-box-shadow: inset 0 -1px 0 0 #c1ccd2;
  box-shadow: inset 0 -1px 0 0 #c1ccd2;
}
.nav-tabs > li {
  margin: 0 24px 0 0;
}
.nav-tabs > li > a {
  padding: 12px 0;
  /*font-size: 20px;*/

}
.tabbable-home {
  margin-bottom: 48px;
  /*p {
		margin: 0;
	}*/

}
.tabbable-home .tab-pane {
  padding: 0;
  /*background: #f5f7f8;*/

  background: white;
  -webkit-box-shadow: inset 0 -1px 0 0 #c1ccd2;
  box-shadow: inset 0 -1px 0 0 #c1ccd2;
}
.tabbable-home a.topic {
  padding: 12px 24px;
  background: red;
  display: block;
  margin: 12px 0;
}
.tabbable-home .topics .head {
  padding: 24px 0;
  /*background: #eff1f3;*/

  /*color: white;*/

  font-size: 20px;
  line-height: 24px;
}
.tabbable-home .topics ul li a {
  padding: 12px 24px;
  background: #f5f7f8;
  /*color: white;*/

  display: block;
  -webkit-box-shadow: inset 0 -1px 0 0 #e3e7e8;
  box-shadow: inset 0 -1px 0 0 #e3e7e8;
  /*font-size: 20px;*/

}
.tabbable-home .topics ul li a:hover {
  background: white;
}
.tabbable-home .guidance-block {
  padding: 24px 0;
  display: block;
  overflow: hidden;
  transition-property: box-shadow;
  transition-duration: 0.2s;
  -webkit-box-shadow: inset 0 -1px 0 0 #e3e7e8;
  box-shadow: inset 0 -1px 0 0 #e3e7e8;
}
.tabbable-home .guidance-block .title {
  color: #0093da;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}
.tabbable-home .guidance-block p {
  margin: 0;
  color: #374248;
}
.tabbable-home .guidance-block:hover {
  -webkit-box-shadow: inset 0 -1px 0 0 #c1ccd2;
  box-shadow: inset 0 -1px 0 0 #c1ccd2;
}
.tabbable-home .guidance-block:hover .title {
  color: #007dba;
}
.tabbable-home .guidance-block .key-links {
  margin: 0;
}
.tabbable-home .guidance-block .key-links li {
  display: block;
}
.tabbable-home .guidance-block .key-links li:before {
  content: "\e032";
  font-family: "NICE.Glyphs";
  width: 24px;
  text-align: center;
  display: inline-block;
  color: #b6c2c9;
}
.tabbable-home h4 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
}
.no-shadow {
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
}
a .icon-stack .icon-stack-base {
  color: #0093da;
  transition-property: color;
  transition-duration: 0.2s;
}
a:hover .icon-stack .icon-stack-base {
  color: #007dba;
}
.panel-reveal {
  width: 25%;
  /*background: yellow;*/

  position: absolute;
  top: 312px;
  left: 25%;
  transition-property: top;
  transition-duration: 0.1s;
  height: 360px;
  z-index: 900;
  /*&:after {
			position: absolute;
			bottom: 0;
			left: 0;
			height: 48px;
			width: 100%;
			z-index: 800;
			content: "";
			background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.10) 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.10)));
			background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.10) 100%);
			background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.10) 100%);
			background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.10) 100%);
			background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.10) 100%);
			display: block;
		}*/

  /*::-webkit-scrollbar-thumb:window-inactive {
			background: #506470; 
		}*/

}
.panel-reveal .btn {
  background-color: rgba(0, 125, 186, 0.9);
  cursor: pointer;
}
.panel-reveal ::-webkit-scrollbar {
  width: 8px;
}
.panel-reveal ::-webkit-scrollbar-track {
  background: #e3e7e8;
}
.panel-reveal ::-webkit-scrollbar-thumb {
  background: #b6c2c9;
}
.panel-reveal .inner {
  padding: 0;
  /*background-color: rgba(0, 125, 186, 1);*/

  background: #f5f7f8;
  height: 312px;
  overflow-y: scroll;
  display: block;
  position: relative;
}
.panel-reveal .inner ul {
  margin: 0;
}
.panel-reveal .inner li a {
  padding: 12px 24px;
  display: block;
  /*color: white;*/

  background: white;
  transition-property: color;
  transition-duration: 0.1s;
  -webkit-box-shadow: inset 0 -1px 0 0 #e3e7e8;
  -moz-box-shadow: inset 0 -1px 0 0 #e3e7e8;
  box-shadow: inset 0 -1px 0 0 #e3e7e8;
}
.panel-reveal .inner li a:hover {
  background: white;
}
.panel-reveal.open {
  bottom: auto;
  top: 0;
}
