@import "CONFIG.general.less";

.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid @inputBorder;
  outline: none;
  color: @grayMid;
}

.tt-dropdown-menu {
  width: 422px;
  margin-top: 0px;
  padding: 0px 0;
  background-color: @dropdownBackground;
  border: 1px solid @dropdownBorder;
  text-align: left;
  z-index: 1051;
}

.tt-suggestion {
  padding: 8px 20px;
  font-size: 18px;
  line-height: 24px;
  border: 1px solid #ccc;
}

.tt-suggestion-col2 {
  padding: 8px 20px;
  font-size: 18px;
  line-height: 24px;

}


.tt-suggestion.tt-cursor {
  color: @dropdownLinkColorActive;
  background-color: @dropdownLinkBackgroundActive;

}
.tt-suggestion + .tt-suggestion {
  border-top: 1px solid @dropdownDividerTop;
}

.tt-suggestion p {
  margin: 0;
}

.tt-suggestion .type {
  float: right;
  font-style: italic;
}

.tt-suggestion .section {
  font-size: 14px;
}
