vti_encoding:SR|utf8-nl
vti_author:SR|IMANDT\\mhowarth
vti_modifiedby:SR|IMANDT\\mhowarth
vti_timelastmodified:TR|27 Nov 2017 14:38:43 -0000
vti_timecreated:TR|27 Nov 2017 14:32:36 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|27 Nov 2017 14:37:41 -0000
vti_cacheddtm:TX|27 Nov 2017 14:38:43 -0000
vti_filesize:IR|262884
vti_cachedlinkinfo:VX|S|//cdn.nice.org.uk/V3/Content/nice-glyphs/NICE.Glyphs.eot S|//cdn.nice.org.uk/V3/Content/nice-glyphs/NICE.Glyphs.woff S|//cdn.nice.org.uk/V3/Content/nice-glyphs/NICE.Glyphs.ttf S|//cdn.nice.org.uk/V3/Content/nice-glyphs/NICE.Glyphs.svg S|../../Content/owl.carousel/grabbing.png
vti_cachedsvcrellinks:VX|NSUS|//cdn.nice.org.uk/V3/Content/nice-glyphs/NICE.Glyphs.eot NSUS|//cdn.nice.org.uk/V3/Content/nice-glyphs/NICE.Glyphs.woff NSUS|//cdn.nice.org.uk/V3/Content/nice-glyphs/NICE.Glyphs.ttf NSUS|//cdn.nice.org.uk/V3/Content/nice-glyphs/NICE.Glyphs.svg NSUS|file:///C:/Users/mhowarth/Documents/GitHub/NICE.Design/Content/owl.carousel/grabbing.png
