vti_encoding:SR|utf8-nl
vti_author:SR|IMANDT\\mhowarth
vti_modifiedby:SR|IMANDT\\mhowarth
vti_timelastmodified:TR|09 Jan 2017 14:24:31 -0000
vti_timecreated:TR|09 Jan 2017 14:24:31 -0000
vti_cacheddtm:TX|09 Jan 2017 14:24:31 -0000
vti_filesize:IR|19421
vti_cachedlinkinfo:VX|S|//cdn.nice.org.uk/V2/Content/nice-glyphs/NICE.Glyphs.eot S|//cdn.nice.org.uk/V2/Content/nice-glyphs/NICE.Glyphs.eot S|//cdn.nice.org.uk/V2/Content/nice-glyphs/NICE.Glyphs.woff S|//cdn.nice.org.uk/V2/Content/nice-glyphs/NICE.Glyphs.ttf S|//cdn.nice.org.uk/V2/Content/nice-glyphs/NICE.Glyphs.svg
vti_cachedsvcrellinks:VX|NSUS|//cdn.nice.org.uk/V2/Content/nice-glyphs/NICE.Glyphs.eot NSUS|//cdn.nice.org.uk/V2/Content/nice-glyphs/NICE.Glyphs.eot NSUS|//cdn.nice.org.uk/V2/Content/nice-glyphs/NICE.Glyphs.woff NSUS|//cdn.nice.org.uk/V2/Content/nice-glyphs/NICE.Glyphs.ttf NSUS|//cdn.nice.org.uk/V2/Content/nice-glyphs/NICE.Glyphs.svg
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|
