vti_encoding:SR|utf8-nl
vti_author:SR|IMANDT\\mhowarth
vti_modifiedby:SR|IMANDT\\mhowarth
vti_timelastmodified:TR|19 Jan 2017 12:14:03 -0000
vti_timecreated:TR|18 Jan 2017 15:02:25 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|19 Jan 2017 12:13:57 -0000
vti_cacheddtm:TX|19 Jan 2017 12:13:57 -0000
vti_filesize:IR|11760
