vti_encoding:SR|utf8-nl
vti_author:SR|IMANDT\\mhowarth
vti_modifiedby:SR|IMANDT\\mhowarth
vti_timelastmodified:TR|19 Jan 2017 11:31:58 -0000
vti_timecreated:TR|18 Jan 2017 15:07:07 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|18 Jan 2017 16:09:16 -0000
vti_cacheddtm:TX|19 Jan 2017 11:31:58 -0000
vti_filesize:IR|3321
vti_cachedlinkinfo:VX|S|https://www.evidence.nhs.uk//content/nice/Evidence-bg.jpg
vti_cachedsvcrellinks:VX|NSSS|https://www.evidence.nhs.uk//content/nice/Evidence-bg.jpg
