vti_encoding:SR|utf8-nl
vti_author:SR|IMANDT\\mhowarth
vti_modifiedby:SR|IMANDT\\mhowarth
vti_timelastmodified:TR|18 Jan 2017 16:01:27 -0000
vti_timecreated:TR|18 Jan 2017 15:07:07 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|18 Jan 2017 15:08:16 -0000
vti_cacheddtm:TX|18 Jan 2017 16:01:27 -0000
vti_filesize:IR|3314
vti_cachedlinkinfo:VX|S|/../../../../../../../content/nice/Evidence-bg.jpg
vti_cachedsvcrellinks:VX|NSUS|/../../../../../../../content/nice/Evidence-bg.jpg
