vti_encoding:SR|utf8-nl
vti_author:SR|IMANDT\\mhowarth
vti_modifiedby:SR|IMANDT\\mhowarth
vti_timelastmodified:TR|04 Jan 2017 11:24:03 -0000
vti_timecreated:TR|04 Jan 2017 11:00:08 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|04 Jan 2017 11:21:58 -0000
vti_cacheddtm:TX|04 Jan 2017 11:24:03 -0000
vti_filesize:IR|7900
vti_cachedlinkinfo:VX|S|/img/cks-bg.png
vti_cachedsvcrellinks:VX|NSUS|/img/cks-bg.png
