vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|02 Feb 2017 14:19:22 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|index.html
vti_author:SR|IMANDT\\mhowarth
vti_modifiedby:SR|IMANDT\\mhowarth
vti_timecreated:TR|02 Feb 2017 10:53:33 -0000
vti_nexttolasttimemodified:TW|01 Feb 2017 15:36:29 -0000
vti_cacheddtm:TX|02 Feb 2017 14:19:22 -0000
vti_filesize:IR|528
