vti_encoding:SR|utf8-nl
vti_author:SR|IMANDT\\mhowarth
vti_modifiedby:SR|IMANDT\\mhowarth
vti_timelastmodified:TR|05 Jan 2017 14:45:15 -0000
vti_timecreated:TR|05 Jan 2017 11:52:17 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|05 Jan 2017 14:44:52 -0000
vti_cacheddtm:TX|05 Jan 2017 14:44:52 -0000
vti_filesize:IR|15649
vti_cachedlinkinfo:VX|S|http://beta-bnf.nice.org.uk/images//bnf-alpha-watermark.png S|http://beta-bnf.nice.org.uk/images//bnf-beta-watermark.png
vti_cachedsvcrellinks:VX|NSHS|http://beta-bnf.nice.org.uk/images//bnf-alpha-watermark.png NSHS|http://beta-bnf.nice.org.uk/images//bnf-beta-watermark.png
