vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|27 Jun 2016 15:03:02 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|IMANDT\\mhowarth
vti_modifiedby:SR|IMANDT\\mhowarth
vti_timecreated:TR|27 Jun 2016 15:03:02 -0000
vti_cacheddtm:TX|27 Jun 2016 15:03:02 -0000
vti_filesize:IR|15597
vti_cachedlinkinfo:VX|S|//cdn.nice.org.uk/V2/Content/nice-glyphs/NICE.Glyphs.eot S|//cdn.nice.org.uk/V2/Content/nice-glyphs/NICE.Glyphs.eot S|http://cdn.nice.org.uk/V2/Content/nice-glyphs/NICE.Glyphs.woff S|//cdn.nice.org.uk/V2/Content/nice-glyphs/NICE.Glyphs.ttf S|//cdn.nice.org.uk/V2/Content/nice-glyphs/NICE.Glyphs.svg
vti_cachedsvcrellinks:VX|NSUS|//cdn.nice.org.uk/V2/Content/nice-glyphs/NICE.Glyphs.eot NSUS|//cdn.nice.org.uk/V2/Content/nice-glyphs/NICE.Glyphs.eot NSHS|http://cdn.nice.org.uk/V2/Content/nice-glyphs/NICE.Glyphs.woff NSUS|//cdn.nice.org.uk/V2/Content/nice-glyphs/NICE.Glyphs.ttf NSUS|//cdn.nice.org.uk/V2/Content/nice-glyphs/NICE.Glyphs.svg
vti_backlinkinfo:VX|
