/*
	Specific styles for BNFc
*/

/* background color change */
.main-row .standout-panel {
	background-color:  #451551;
}
/* link color change */
.main-menu-link, .main-menu-link .title {
	color: #005f76;
}

.nav-subtopics li.active {
	// background-color: #8B84D7;
}
// a:visited,
a {
	color: #8B84D7;
}
a:active,
a:hover {
	color: #82176F;
}
/* background color change */
.nice-tophat .nice-global {
  background-color: #451551 !important; /* gah, sorry for all the !important tags */
  color: white !important;
}
.nice-tophat .nice-global .tt-dropdown-menu {
	color: black !important;
}
/* color change */
.nice-search button:focus,
.nice-search button:active,
.nice-search button {
	background-color: #8F1F8D !important;
	border: 1px solid #8F1F8D !important;
	color: #fff !important;
}
.nice-search button:focus,
.nice-search button:active {
	outline: none;
}
.nice-search button:hover {
	color: white !important;
	outline: none;
}
/* link color change */
.nice-tophat .nice-global a {
  color: #fff;
}
.nice-tophat .nice-global a:hover {
  color: white;
}