<style type="text/css">
<!--
body
	{line-height:20px;
	color:#0e0e0e;
	font-size:12px;
	width:750px}
a
	{color:#4A4A4A}
table#table_email
	{font-family:arial;
	font-size:12px;
	width:750px}
table#table_email tr#AboutThisEmail td table
	{width:100%}
table#table_email tr#AboutThisEmail td table tr td
	{border-top:0px solid #bebebe;
	padding:0px 15px 0px 15px}
table#table_email tr#AboutThisEmail td table tr td a
	{color:#005ea5}
table#table_email tr#AboutThisEmail td table tr td div
	{font-size:14px}
table#table_email tr#ProvideFeedback table
	{border-collapse:collapse;
	color:#fff;
	width:730px;
	margin-left:10px}
table#table_email tr#ProvideFeedback table tr td
	{border-spacing:0px;
	background-color:#222222}
table#table_email tr#ProvideFeedback table tr td a
	{color:#fff}
table#table_email tr#ProvideFeedback table tr#LowerProvideFeedback td
	{background:none;
	background-color:#fff;
	padding-top:10px;
	padding-bottom:0px}
table#table_email tr#ProvideFeedback table tr td img
	{height:28px}
table#table_email tr#ProvideFeedback table tr td a
	{color:#fff}
table#table_email tr td.Seperator
	{text-align:right;
	font-size:16px}
table#table_email tr td.Seperator div
	{margin-left:10px}
table#table_email tr td.Seperator img
	{margin-left:420px}
table#table_email tr td.Seperator hr
	{border-top:1px solid #bebebe;
	border-bottom:1px solid #bebebe;
	width:100%}
table#Header
	{width:100%;
	color:#fff;
	border-collapse:collapse}
table#Header tr#topHeader
	{background-color:#222222;
	height:30px}
table#Header tr#topHeader td
	{color:#fff;
	font-size: 12px}
table#Header tr#topHeader a
	{color:#fff;
	margin:0px 5px 0px 5px}
table#Header tr#topHeader td#NICElogo
	{text-align:left;
	width:250px}
table#Header tr#topHeader td#NICElinks
	{width:420px;
	font-size:12px}
table#Header tr#middleHeader
	{background-color:#59524c;
	border-top:10px solid #59524c}
table#Header tr#middleHeader td
	{vertical-align:top}
table#Header tr#middleHeader td#medsAware
	{font-size:16px}
table#Header tr#middleHeader td#medsAware p
	{margin-left:10px;
	padding:0px;
	margin-top:10px}
table#Header tr#middleHeader td#date p
	{margin:10px 10px 10px 0px}
table#Header tr#lowerHeader
	{height:80px}
table#Header tr#lowerHeader td#strapLine
	{color:#4A4A4A;
	font-size:16px;
	text-align:left}
table#Header tr#lowerHeader td#strapLine p
	{color:#4A4A4A;
	font-size:16px;
	margin-left:20px}
table#Header tr#lowerHeader td#UKMIlogo img
	{margin-right:10px}
table.EmailContents
	{width:100%;
	border-collapse:collapse;
	border-spacing:0px}
table.EmailContents tr.EmailIntro
	{background-color:#233746;
	color:#fff}
table.EmailContents tr.EmailIntro td
	{height:45px}
table.EmailContents tr.EmailIntro td p
	{margin:0px;
	padding:0px;
	padding-top:5px;
	line-height:18px;
	margin-left:10px;
	color:#fff}
table.EmailContents tr.EmailIntro ul
	{margin:0px;
	padding-top:5px;
	padding-bottom:5px}
table.EmailContents tr.EmailCategories
	{font-size:14px;
	margin-left:10px}
table.EmailContents tr.EmailCategories td.category
	{padding:7px 5px 7px 5px}
table.EmailContents tr.EmailCategories td div
	{margin-top:6px;
    margin-right:10px;
    padding:6px 0px 6px 0px;
    height:20px;
    background-color:#adadad;
    width:228px;
    display:inline-block}
table.EmailContents tr.EmailCategories td div p
	{margin:0px;
	margin-left:5px;
	padding:0px}
table.EmailContents tr.EmailCategories td.Category div strong a
	{margin-left:10px;
	line-height:20px;
	text-decoration:none}
table#MedsCommentarySnippet tr td a
	{color:#02739b}
table#MedsCommentarySnippet tr td strong
	{font-size:14px}
table.sectionContainer
	{border:0px;
	width:722px;
	margin-left:10px;
	border-collapse:collapse}
table.sectionContainer tr.CatergoryHeader td
	{font-size:14px}
table.sectionContainer tr.CatergoryHeader td.Heading
	{width:80%;
	background-color:#d6d6d6}
table.sectionContainer tr.CatergoryHeader td.backToTop
	{width:20%;
    background-color:#d6d6d6;
    text-align:right;
    font-size:12px;
    font-weight:bold}
table.sectionContainer tr.CatergoryHeader td a
	{color:#0e0e0e;
	text-decoration:none}
tr#medicinesComentary table
	{background-color:#e5e5e5;
	width:100%;
	margin-bottom:10px}
tr#medicinesComentary table tr td.heading strong
	{font-size:14px}
table.ResourceRecord tr.docImage td
	{color:#02739b;
	text-decoration:underline;
	vertical-align:top;
	padding:0px;
	margin:0px}
table.ResourceRecord tr.docImage td img
	{margin-right:10px;
	margin-top:5px}
table.ResourceRecord tr.ResourceLink td a
	{color:#005ea5;
	text-decoration:underline}
table.ResourceRecord tr.ResourceSource td
	{color:#006621}
table.ResourceRecord tr.readUKMIcomment td a
	{color:#1a9dcb;
	text-decoration:none;
	font-style:italic}
table#Footer
	{border:1px solid #bebebe;
	border-right:0px solid #fff;
	border-left:0px solid #fff;
	width:100%;
	margin-top:10px}
table#Footer tr td a
	{color:#0e0e0e;
    text-decoration: none;
    font-size:14px;
    font-weight:bold}
table#Footer tr td#leftFooter
	{width:570px}
#divNoPersonalized
	{padding:0px 10px}
-->
</style>