
.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus,
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
    background-color: #EFF1F3;
}
.tabbable {
    background: none;
}

.nav-glossary > li {
  width: 14.4%;
}
@media (max-width: 1024px) and (min-width: 980px) {

    .nav-glossary > li {
        width: 23.0%;
    }

}
@media (max-width: 979px) and (min-width: 481px) {

    .nav-glossary > li {
        width: 9.1%;
    }

}
@media (max-width: 979px) {

    .nav-glossary {
        margin: 0;
        float: none;
        width: 100%;
    }

}
/* color change */
.nav-glossary > li > a,
.nav-glossary > li > a:active {
    color: #0e0e0e;
    background: #f6f6f6;
}
/* background hover color change  */
.nav-glossary > li > a:hover,
.nav-glossary > li > a:focus {
    color: #fff;
    background: #004650;
}
/* color change  */
.nav-glossary > li.disabled > a,
.nav-glossary > li.disabled > a:hover,
.nav-glossary > li.disabled > a:focus,
.nav-glossary > li.disabled > a:active {
    color: #adadad;
    background: transparent;
}
/* background color change  */
.nav-glossary > li.active > a,
.nav-glossary > li.active > a:hover,
.nav-glossary > li.active > a:focus,
.nav-glossary > li.active > a:active {
  color: #fff;
  background: #004650;
}





.legal-copyright {
    margin-right: 170px;
}

.topic-container h2 {
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 12px;
}

/*
  collapsing table of contents
*/

.toc {
    margin-top: 18px;
}
.toc .nav .nav {
  display: none;
}
.toc .nav > .active > .nav,
.toc .nav > .active-child > .nav {
  display: block;
}

.toc .nav  .active-child > a {
    background-color: #DDEEF4;
}
.toc .nav  .active-child > a:hover,
.toc .nav  .active-child > a:active,
.toc .nav  .active-child > a:focus {
    color: #11779B;
    background-color: #CAE4EE;
}
.toc .nav .active-child a,
.toc .nav .active > .nav-list a {
    background-color: #DDEEF4;
}
.toc .nav .active-child a:hover,
.toc .nav .active-child a:focus,
.toc .nav .active-child a:active,
.toc .nav .active > .nav-list a:hover,
.toc .nav .active > .nav-list a:focus,
.toc .nav .active > .nav-list a:active {
    color: #11779B;
    background-color: #CAE4EE;
}
.toc .nav .active-child .active > a,
.toc .nav .active-child .active > a:hover,
.toc .nav .active-child .active > a:active,
.toc .nav .active-child .active > a:focus {
    color: #FFF;
    background-color: #00A7DF;
}

.share-links .navbar-inner .nav > li > a:hover,
.share-links .navbar-inner .nav > li > a:focus {
  background: transparent;
  border: 0;
  color: white;
}
.share-links .navbar-inner .nav > li > a:hover .icon-stack-base,
.share-links .navbar-inner .nav > li > a:focus .icon-stack-base {
  color: #094256;
}
.share-links .navbar-inner .nav > li.dropdown.open > a.dropdown-toggle,
.share-links .navbar-inner .nav > li.dropdown .active > a.dropdown-toggle,
.share-links .navbar-inner .nav > li.dropdown.open.active > a.dropdown-toggle,
.share-links .navbar-inner .nav > li.dropdown.open > a.dropdown-toggle:hover,
.share-links .navbar-inner .nav > li.dropdown .active > a.dropdown-toggle:hover,
.share-links .navbar-inner .nav > li.dropdown.open.active > a.dropdown-toggle:hover,
.share-links .navbar-inner .nav > li.dropdown.open > a.dropdown-toggle:focus,
.share-links .navbar-inner .nav > li.dropdown .active > a.dropdown-toggle:focus,
.share-links .navbar-inner .nav > li.dropdown.open.active > a.dropdown-toggle:focus {
  margin-top: 0;
  width: 2em;
}
.share-links .navbar-inner .nav > li.dropdown.open > a.dropdown-toggle .icon-stack-base,
.share-links .navbar-inner .nav > li.dropdown .active > a.dropdown-toggle .icon-stack-base,
.share-links .navbar-inner .nav > li.dropdown.open.active > a.dropdown-toggle .icon-stack-base,
.share-links .navbar-inner .nav > li.dropdown.open > a.dropdown-toggle:hover .icon-stack-base,
.share-links .navbar-inner .nav > li.dropdown .active > a.dropdown-toggle:hover .icon-stack-base,
.share-links .navbar-inner .nav > li.dropdown.open.active > a.dropdown-toggle:hover .icon-stack-base,
.share-links .navbar-inner .nav > li.dropdown.open > a.dropdown-toggle:focus .icon-stack-base,
.share-links .navbar-inner .nav > li.dropdown .active > a.dropdown-toggle:focus .icon-stack-base,
.share-links .navbar-inner .nav > li.dropdown.open.active > a.dropdown-toggle:focus .icon-stack-base {
  color: #11779b;
}

.search-heading .summary {
    color: #999;
    line-height: 38px;
    font-weight: 700;
    padding: 10px 19px 0;
}

.topic section {
    margin-top: 24px;
    padding-top: 12px;
    border-top: 1px solid #d5d5d5;
}
.topic section + section {
    margin-top: 48px;
    padding-top: 24px;
    border-color: #b4b4b4;
}
.topic section.hidden + section,
.topic header + section {
    margin-top: 0;
    padding-top: 0;
    border-top: 0;
}
.topic header h1,
.topic header h2,
.topic header h3,
.topic header h4 {
    margin-bottom: 0;
}
.topic header {
    margin-bottom: 24px;
}

#topic-selector .tab-content {
  overflow: visible;
}

.topic-list {
    padding: 12px 0;
}
.topic-list > li > a {
    margin: 0;
    padding-left: 12px;
    padding-right: 12px;
}
/* color change */
.nav-list > li > a {
  color: #0e0e0e;
  background: none;
}
/* hover color change */
.nav-list > li > a:hover,
.nav-list > li > a:focus,
.nav-list > li > a:active {
  color: #fff;
  background: #004650;
}
.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus,
.nav-list > .active > a:active {
  color: #fff;
  background: #1167B7;
}
.nav-list > .active > a:after {
    display: none;
}
.speciality-picker-heading {
    margin: 0 12px 24px;
}

body > .search-results {
    margin-top: 0;
    margin-bottom: 0;
}

@media (max-width: 979px) {

    body > .layout {
      width: auto;
      margin-left: 0;
      margin-right: 0;
    }

    #topic-selector .tab-pane {
        padding: 6px;
    }

    .topics {
        margin: 0;
        float: none;
        width: 100%;
    }

    .speciality-picker {
        margin: 0;
        float: none;
        width: 100%;
    }

    .speciality-picker .dropdown-menu {
        width: 100%;
        position: relative;
    }

    .speciality-picker .dropdown-menu > * {
        float: left;
        text-align: left;
        display: block;
        width: 47.6%;
    }

    .speciality-picker .dropdown-menu > *:nth-child(3n+4) { clear: none; }
    .speciality-picker .dropdown-menu > *:nth-child(2n+3) { clear: left; }

    .topic header {
        padding-left: 36px;
    }

}

@media (max-width: 767px) {

    #topic-selector .nav-tabs>li>a {
        padding: 1em 0.631835em;
    }

    .topic-list {
        padding: 0;
    }

    .speciality-picker .dropdown-menu > * {
        float: none;
        width: auto;
    }

    .legal-copyright {
        margin-right: 0;
    }
}

ul, ol {
    margin: 0 0 12px 1.25em;
}

ul li,
ol li {
    display: list-item;
}

.nice-tophat .nice-global {
    background-image: url('/img/cks-bg.png');
    background-position: 50%;
    background-repeat: no-repeat;
}
/* background and color change */
.nice-tophat .nice-global .menu>li>a,		
.nice-tophat .nice-global .menu>li>a:active,		
.nice-tophat .nice-global .menu>li>a:hover,		
.nice-tophat .nice-global .menu>li>a:focus,		
.nice-tophat .nice-global .menu>.active>a,		
.nice-tophat .nice-global .menu>.active>a:active,		
.nice-tophat .nice-global .menu>.active>a:hover,		
.nice-tophat .nice-global .menu>.active>a:focus {		
    color: #0e0e0e;		
}

#_atssh {
  display: none !important;
}

.offcanvas-hide {
  background: rgba(0, 0, 0, .3);
}

@media (min-width: 675px) {
    html .nice-search {
        width: 32%;
    }
}
