

.nice-tophat .nice-global .tophat-inner {
    min-height: 65px;
    background-image: url('/../../../../../../../content/nice/Evidence-bg.jpg');
    background-size: cover;
    background-position: 50%;
}
@media (max-width: 979px) {
    .nice-tophat .nice-global .tophat-inner {
        background-image: none;
    }
}
.nice-tophat .evidence-logo {
    width: 25%;
    float: left;
    display: block;
    text-align: right;
    margin-left: -19px;
    padding: 14px 12px 16px 0;
    border: 0;
    background: none;
}
.nice-tophat .evidence-logo:hover,
.nice-tophat .evidence-logo:focus,
.nice-tophat .evidence-logo:active {
    background: none;
    border: 0;
}

@media (min-width: 1170px) {
    .nice-tophat .evidence-logo {
        width: 20%;
    }
}
@media (max-width: 979px) {
    .nice-tophat .nice-global .controls {
        margin-left: 120px;
    }
    .nice-tophat .evidence-logo {
        width: 120px;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        z-index: 2002;
    }
}
@media (max-width: 460px) {
      .layout-fill .nice-tophat .nice-global .tophat-inner {
          margin-right: 6px;
          min-height: initial;
      }
    .nice-tophat .nice-global .nice-search {
        margin: 6px 0;
    }
    .nice-tophat .nice-global .controls {
        margin-left: 45px;
    }
    .nice-tophat .evidence-logo {
        width: 45px;
        margin: 0 6px;
        padding: 10px 0
    }
}

a {
    color: #1167b7;
}

.search-results .media-heading a:visited,
.search-results .media-heading a:visited mark,
.read-summary a:visited,
.search-aside h4 a:visited,
.search-aside li a:visited,
.search-aside a:visited mark
 {
    color: #600090;
}

a:visited mark,
a mark {
    color: inherit;
    font-weight: bold;
}


.layout-fill>.layout {
    width: auto;
    margin: 0;
}
.layout .content-primary {
    min-height: 450px;
    margin: 0;
    background: #fff;
}
.layout .search-aside {
    padding-top: 24px;
    margin-left: 0;
}
@media (min-width: 768px) {
    .layout .search-results {
        width: 65%;
    }
    .layout .search-aside {
        width: 33.40425532%;
    }
}
@media (min-width: 980px) {
    .layout .content-secondary {
        width: 25%;
    }
    .layout .content-primary {
        width: 75%;
    }
    .layout .search-results {
        width: 70%;
    }
    .layout .search-aside {
        width: 28.40425532%;
    }
}
@media (min-width: 1170px) {
    .layout .content-secondary {
        width: 20%;
    }
    .layout .content-primary {
        width: 80%;
    }
    .layout .search-results {
        width: 65%;
    }
    .layout .search-aside {
        width: 33.40425532%;
    }
}
@media (max-width: 979px) {
    .layout {
        background: white;
    }
}
@media (max-width: 767px) {
    .layout .search-aside {
        display: none;
        visibility: hidden;
    }
}
@media screen and (max-width: 979px) {
    body.layout-offcanvas-fixed .content-secondary,
    body.layout-offcanvas-fixed.in .content-secondary {
        z-index: 4000;
        border-right-width: 0;
        background-color: #262626;
    }
}