
.layout {
}

.nice-tophat .nice-global {
    display: block !important;
}

.nice-tophat .menu-search {
    display: none !important;
    visibility: hidden !important;
}

.nice-tophat .menu-search {
    display: none;
}

.search-header {
    font-size: 13px;
    line-height: 18px;
    font-weight: 700;
    margin: 3px 24px 0 57px;
}

@media (max-width: 460px) {
    .search-header {
        margin-right: 0;
    }
}

.search-header .search-heading {
    margin: 0;
    font-size: 13px;
    line-height: 18px;
}

.search-header .search-summary {
    margin: 0;
    color: #81939e;
}

.search-results .media-list {
    margin-left: 6px;
}

.search-results .media {
    position: relative;
}

.search-results .media-body {
    padding: 0 0 30px 6px;
    margin: 12px 24px 12px 36px;
    border-left: 10px solid white;
    clear: both;
}

@media (max-width: 460px) {
    .search-results .media-body {
        margin-right: 6px;
    }
}

.search-results .search-rollup {
    border-left-color: #fef1c0;
}

.search-results .accredit-badge {
    width: auto;
    position: relative;
    bottom: 2px;
    margin-right: 5px;
}

.search-results img.bnf-image {
    width: 45px;
    margin-right: 6px;
}

.search-results .download-checkbox-container {
    position: absolute;
    top: 50%;
    width: 45px;
    text-align: right;
}
.search-results .download-checkbox-container .download-checkbox {
    position: relative;
    top: -7px;
    left: -1px;
}

.search-results .summary {
    font-weight: 700;
    margin: 12px 0;
}

.search-summary strong {
    color: #374248;
}

#downloadForm {
    margin: 6px 0 0 57px;

}

#downloadForm .well {
    padding: 6px;
    margin: 0;
}

#downloadForm button {
    margin-right: 6px;
}

#downloadForm p {
    margin: 0;
    padding: 0 0 0 6px;
    font-size: 13px;
    line-height: 16px;
}

#downloadForm select {
    margin: 0;
    padding: 0;
    height: 34px;
}


.media, .media-body {
    overflow: visible;
}

.media-body {
    font-size: 13px;
    line-height: 18px;
}

.media .popover {
    width: 300px;
}
/* #006621 google color*/
.media .media-meta {
    margin: 5px 0 4px 0;
    color: #38981a;
    line-height: 24px;
}
.media .media-meta > a {
  color: #38981a;
  line-height: 24px;
  text-decoration: underline;
}

.media .media-meta > a:hover,
.media .media-meta > a:focus {
  text-decoration: none;
}

.media .media-meta .popover {
    color: #374248
}


.media-heading {
    font-size: 16px;
    line-height: 16px;
    font-weight: normal;
    color: #0093da;
}


.media-heading .media-type {
    vertical-align: text-top;
    font-size: 11px;
    color: black;
}

div.abstract {
    margin-bottom: 8px;
    margin-top: 8px;

}


div.read-summary {
    white-space: nowrap;       
}

.btn-link,
.btn-link:hover,
.btn-link:focus {
    box-shadow: none;
}

.btn-group.open .btn-link.dropdown-toggle {
    background: none;
}


.filters-heading {
    display: block;
    color: white;
    padding: 0 12px 0 7%;
    margin: 24px 0;
}

.filter {

}

.filter-fixed,
.filter-toggle,
.filter-toggle:hover,
.filter-toggle:focus {
    position: relative;
    display: block;
    width: 91%;
    padding: 12px 2% 12px 7%;
    color: black;
}

    .filter-toggle:before {
        content: "";
        position: absolute;
        height: 0;
        width: 0;
        left: 3%;
        top: 50%;
        margin-top: -3px;
        margin-left: -3px;
        border: 6px solid transparent;
        border-top-color: white;
    }

    .filter-toggle.collapsed {
    }

        .filter-toggle.collapsed:before {
            margin-top: -6px;
            margin-left: 0;
            border: 6px solid transparent;
            border-left-color: white;
        }

.filter-options {
    padding: 0 12px 12px;
}
.filter-options .options-list {
  max-height: 14em;
}
.filter-options #options_Date.options-list {
    height: 9em;    
}
.options-search {
    display: block;
    width: 96%;
    padding: 6px 2%;
    border: 0;
    border-bottom: 1px solid #999;
}

.options-list {
    margin-bottom: 0;
    background-color: white;
}

.collapse.in .options-list {
    overflow-y: auto;
}

.options-list > li > a {
    color: #555;
    padding: 5px 12px 6px;
    border-top: 1px solid #e7e7e7;
}

    .options-list > li > a:hover {
        color: #11779b;
        background-color: #cae4ee;
    }

    .options-list > li > a:first-child {
        border-top: 0;
    }

.options-list > .active > a,
.options-list > .active > a:hover {
    position: relative;
    color: #fff;
    background-color: #00a7df;
}

.filter-options > .options-list > li > a {
    padding-left: 24px;
}

.filter > .options-list > li > a {
    padding-left: 36px;
}

.options-promoted {
    background: none;
}

    .options-promoted > li > a {
        color: black;
    }

.filters .remove {
    float: right;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: white;
}

.filters .clearall {
    display: block;
    color: white;
    padding: 0 12px 0 7%;
    margin: 24px 0;
}

    .filters .clearall:hover,
    .filters .clearall:focus {
        text-decoration: underline;
    }

        .filters .clearall:hover .remove,
        .filters .clearall:focus .remove {
            text-decoration: none;
        }

.alert-rollup {
    font-size: 13px;
    margin: 6px 24px 6px 43px;
    background-color: #fff1c0;
    border-color: #fff1c0;
    color: #636363;
    line-height: 18px;
}

    .alert-rollup strong {
        color: #000;
    }

    .alert-rollup .btn {
        color: #000;
        background: #f9c62e;
        border-color: #f9c62e;
        box-shadow: none;
        padding: 3px 24px;
        margin: -6px -18px 0 0;
        font-size: 13px;
    }

.popover-content {
    font-size: 13px;
    line-height: 18px;
}

.pager ul > .active > a,
.pager ul > .active > span {
    color: #1167b7;
    font-weight: 700;
}


.aside-panel {
    background: #eee;
    padding: 12px;
    font-size: 13px;
    margin-bottom: 24px;
}

    .aside-panel .media-list,
    .aside-panel .media-body,
    .aside-panel p {
        margin: 0;
        padding: 0;
    }

        .aside-panel .media-list .media {
            margin-bottom: 12px;
            line-height: 16px;
        }

.aside-heading {
    display: block;
    font-weight: 700;
    margin: 0 0 12px;
}

#related-searches .aside-panel {
    background: none;
}

#clinicalknowledgesummaries .logo {
    float: left;
    width: 100px;
    margin: 1px 5px 0 0;
}

#clinicalknowledgesummaries .aside-heading {
    font-size: 13px;
    line-height: 13px;
    color: #888888;
    width: 180px;
}



#bnf .tabbable {
    margin-bottom: 24px;
    background: none;
}

#bnf .tab-pane {
    padding: 12px;
    font-size: 13px;
    background: #eee;
}

#bnf h4 {
    margin: 0 0 12px;
}

#bnf ul {
    margin: 0;
}

    #bnf ul + h4 {
        margin-top: 12px;
    }

#bnf .nav-pills > .bnf > a,
#bnf .bnf-pane {
    color: #346e7f;
    background: #e6eff2;
}

    #bnf .nav-pills > .bnf.active > a,
    #bnf .nav-pills > .bnf.active > a:hover,
    #bnf .nav-pills > .bnf.active > a:focus,
    #bnf .nav-pills > .bnf > a:hover,
    #bnf .nav-pills > .bnf > a:focus {
        color: white;
        background: #346e7f;
    }

#bnf .bnf-pane {
    border-top: 5px solid #346e7f;
}

    #bnf .bnf-pane a {
        color: #346e7f;
    }

#bnf .nav-pills > .bnfc > a,
#bnf .bnfc-pane {
    color: #82176f;
    background: #f2e6ef;
}

    #bnf .nav-pills > .bnfc.active > a,
    #bnf .nav-pills > .bnfc.active > a:hover,
    #bnf .nav-pills > .bnfc.active > a:focus,
    #bnf .nav-pills > .bnfc > a:hover,
    #bnf .nav-pills > .bnfc > a:focus {
        color: white;
        background: #82176f;
    }

#bnf .bnfc-pane {
    border-top: 5px solid #82176f;
}

    #bnf .bnfc-pane a {
        color: #82176f;
    }

#bnf .nav > li {
    width: 50%;
}

    #bnf .nav > li > a {
        text-align: center;
        padding: 20px 0;
        margin-right: 2px;
    }

@media (min-width: 768px) {
    #bnf .nav > li {
        width: 35%;
    }
}

@media (min-width: 980px) {
    #bnf .nav > li {
        width: 35%;
    }
}

@media (min-width: 1170px) {
    #bnf .nav > li {
        width: 25%;
    }
}

.date-range-form {
    padding-left: 24px;
    width: 250px;
    max-width: 250px;
    padding-right: 0;
    margin-bottom: 8px;
    margin-top: 8px;
}

.date-range-form .control-group {
        margin-bottom: 8px;
}

.date-range-form .control-label {
        width: 100px;
}

.date-range-form .controls {
        margin-left: 100px;
}

.date-range-form h4 {
    margin-bottom: 6px;
}

.date-range-form .control-group input {
    cursor: pointer;
}

.indent-0 {
}

.indent-1 {
	padding-left: 3em !important;
}


#navigators-select {
    padding: 10px;
    margin-bottom: 10px;
}

#navigators-select .mobile-result-count {
    display: none;
    margin: 1em 0
}

#navigators-select .navigator-container {
    margin-bottom: 2em
}

#navigators-select .navigator-container label {
    font-size: 17px
}

#navigators-select .navigator-container .nice-chevron {
    cursor: pointer
}

#navigators-select .navigator-container .child-navigator-container {
    padding-left: 14px;
    margin-bottom: 2em
}

#navigators-select .navigator-container .child-navigator-container label {
    font-size: 15px
}

#navigators-select .navigator-container .nice-chevron {
    color: #4ba3dd;
    font-size: 18.4px;
    vertical-align: text-bottom;
    margin-left: 2px
}

#navigators-select h4 mark {
    color: #4a4a4a
}

#navigators-select .control {
    position: relative;
    margin-bottom: 15px;
    padding-left: 30px;
    cursor: pointer;
}

#navigators-select .control input {
    position: absolute;
    z-index: -1;
    opacity: 0
}

#navigators-select .control .control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #999;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
	border-radius: 4px;
	display: inline;
}

#navigators-select .control input:disabled~.control__indicator {
    pointer-events: none;
    opacity: .6;
    background: #e6e6e6
}

#navigators-select .control .control__indicator:after {
    position: absolute;
    display: none;
    content: ''
}

#navigators-select .control input:checked~.control__indicator:after {
    display: block
}

#navigators-select .control.inner {
}

#navigators-select .control--checkbox .control__indicator:after {
    top: 4px;
    left: 8px;
    width: 3px;
    height: 8px;
    transform: rotate(45deg);
    border: solid green;
    border-width: 0 2px 2px 0
}

#navigators-select .control--checkbox input:disabled~.control__indicator:after {
    border-color: #7b7b7b
}

#navigators-select {
    padding-top: 0
}

