/* styles for panel pages only. */
#primary.nice-panel-page .entry-header,
#primary.nice-panel-page .entry-content,
#primary.nice-panel-page .entry-summary,
#primary.nice-panel-page .entry-footer{
	margin-left:0;
	margin-right:0;
}
.tabs-panel{
	border: 1px solid #C8E6C9;
    	padding: 20px 20px 20px 0;
	clear: both;
	min-height: 407px;
	position: relative;
}
.tabs-panel .tab-content{
        color: #1A1A1A !important;
	padding-top: 0 !important;
}
.tabs-panel a{
	box-shadow: none;
}
.tabs-panel .tab-content ul {
	padding-left: 20px;
}
.tabs-panel ul > li{
	padding-left: 20px!important;
}
.tabs-panel ul > li > a:hover{
	background-color: #f2f2f2 !important;
}
.tabs-panel ul > li.active{
	position: relative;
}
.tabs-panel ul > li.active:before{
	content: "";	
	position: absolute;	
	display:block!important;
	width: 8px;	
	height: 100%;	
	left: 0px;
	top: 0px;	
	background-color: #7AC943;
}
.tabs-panel > *{
	padding-left: 20px;
	color: #1a1a1a !Important;
	font-size: 16px;
	font-family: Montserrat, 'Helvetica Neue', sans-serif;
}
.tabs-panel > .tab_container{
	padding-left: 0;
}
header.panel-header{
	display:none;
}

.content-left{
	display: inline-block;
	vertical-align: top;
}
.content-right{
	display: inline-block;
	padding-left: 20px;
	vertical-align: top;
}
.content-right.box{
	padding-left: 0;
}
.content-left.uneven{
	width: 70%;
}
.content-right.uneven{
	width: 30%;
}
.box-outer .even{
	width: initial;
}
.box-outer{
	display: table;
	border: 1px solid #C8E6C9;
	padding: 20px 20px;
	clear: both;
	width:100%;
}
body.issues-open .box-outer{
	border-bottom: none;
	padding-bottom: 0;
}
.box-container{
	display: table-row;	
}
.box-header{
	padding: 20px 20px;
    	background-color: #E8F5E9;
	margin-right: 20px;
	border: 1px solid #7AC943;
}
.box-content{
	padding: 20px 20px;
	margin-right: 20px;
	border-right: 1px solid #7AC943;
	border-left: 1px solid #7AC943;
	border-bottom: 1px solid #7AC943;

}
.content-right > .box-header,.content-right > .box-content{
	margin-right: 0;
}
.box-header h5{
	margin-bottom: 0;
	font-size: 16px; //dodgy
}
.box-content ol{
	margin-bottom: 0;
}
.content-left.box,.content-right.box{
	display: table-cell;
}
.content-left.box ol > li,.content-right.box ol > li{
    list-style-type: none;
	padding-bottom: 10px;
}
.nice-navigator .content-right ul > li{
	margin-bottom: 10px;
}
.nice-navigator > .site-main{
	margin-bottom: 0;
}
.nice-navigator .widget_text{
	margin-top: 7em;
}
.nice-navigator footer.entry-footer{
	display:none;
}
ul.hidebullets > li{
	list-style-type: none;
}

#primary .content-bottom-widgets {
	margin: 0 0;
}
#primary.nice-navigator .widget.widget_p2p {
	border-left: 1px solid #C8E6C9;
	border-right: 1px solid #C8E6C9;
	border-bottom: 1px solid #C8E6C9;
	border-top: none;
}
.content-bottom-widgets .widget_p2p{
	padding: 20px 20px 0 20px;
	display: none;
}
.content-bottom-widgets .widget_p2p li{
	list-style-type: none;
	vertical-align: top;
}
.content-bottom-widgets .widget_p2p .issue,.options .option{
	border: 1px solid #7AC943;
	padding: 10px 10px;
	display: inline-block;
}
.content-bottom-widgets .widget_p2p .issue a,.options .option a{
	font-size: 1rem;	
}
.content-bottom-widgets .widget_p2p .issue{
	width: 35%;
	min-height: 130px;
	margin-bottom: 20px;
}
.options{
	width: 60%;
	display: inline-block;
	vertical-align: top;
}
.options .option{
	width: 30%;
	margin-right: 20px;
	min-height: 130px;
	margin-bottom: 20px;
}
#pages_to_issues_list{
	margin-left: 0;
}
.issue-footer{
    border-top: 1px solid #d9d9d9;
    padding-top: 10px;
}
.issue-footer .issue-footer-readmore{
	float:right;
}
.issue-footer img{
    margin-right: 10px;
}
.issues-title{
	width: 35%;
	display: inline-block;
}
.options-title{
	display: inline-block;
	padding-left: 20px;
}
.equalcol-wrap{
        overflow: hidden; 
}

.equalcol{
        margin-bottom: -99999px;
        padding-bottom: 99999px;   
        background-color: @white; 
}


body:not(.search-results) #primary article.type-issue .entry-content,body:not(.search-results) #primary article.type-option .entry-content, .breadcrumbs {
    	float: none;
	width: initial;
	margin-left: 0;
	margin-right: 0;
}

.widget .widget-title{
	text-transform: none;
}

@media screen and (min-width: 1100px) {
	.box-outer .even{
		width: 50%;
	}	
}
@media screen and (max-width:767px) {
	.box-outer .even{
		width: 100%;
	}
	.content-left.box,.content-right.box{
		display: block;
	}
	.box-header,.box-content{
		margin-right: 0;
	}
	.content-left.box{
		margin-bottom: 20px;
	}
	.content-bottom-widgets .widget_p2p .issue{
		width: 100%;
	}
	.options{
		width: 100%;
	}
	.options .option{
		width: 30%;
	}
	.issues-title,.options-title{
		display:none;
	}
}

@media screen and (min-width: 56.875em) {

  	.no-sidebar article.type-page .entry-header,
	.no-sidebar article.type-page .entry-content,
	.no-sidebar article.type-page .entry-summary,
	.no-sidebar article.type-page .entry-footer,
	.no-sidebar article.type-page .comments-area,
	.no-sidebar article.type-page .image-navigation,
	.no-sidebar article.type-page .post-navigation,
	.no-sidebar article.type-page .pagination,
	.no-sidebar article.type-page .page-header,
	.no-sidebar article.type-page .page-content,
	.no-sidebar article.type-page .content-bottom-widgets,

	.no-sidebar article.type-issue .entry-header,
	.no-sidebar article.type-issue .entry-content,
	.no-sidebar article.type-issue .entry-summary,
	.no-sidebar article.type-issue .entry-footer,
	.no-sidebar article.type-issue .comments-area,
	.no-sidebar article.type-issue .image-navigation,
	.no-sidebar article.type-issue .post-navigation,
	.no-sidebar article.type-issue .pagination,
	.no-sidebar article.type-issue .page-header,
	.no-sidebar article.type-issue .page-content,
	.no-sidebar article.type-issue .content-bottom-widgets,
	
	.no-sidebar article.type-option .entry-header,
	.no-sidebar article.type-option .entry-content,
	.no-sidebar article.type-option .entry-summary,
	.no-sidebar article.type-option .entry-footer,
	.no-sidebar article.type-option .comments-area,
	.no-sidebar article.type-option .image-navigation,
	.no-sidebar article.type-option .post-navigation,
	.no-sidebar article.type-option .pagination,
	.no-sidebar article.type-option .page-header,
	.no-sidebar article.type-option .page-content,
	.no-sidebar article.type-option .content-bottom-widgets,

	.no-sidebar #primary.category-archive .entry-header,
	.no-sidebar #primary.category-archive .entry-content,
	.no-sidebar #primary.category-archive .entry-summary,
	.no-sidebar #primary.category-archive .entry-footer,
	.no-sidebar #primary.category-archive .comments-area,
	.no-sidebar #primary.category-archive .image-navigation,
	.no-sidebar #primary.category-archive .post-navigation,
	.no-sidebar #primary.category-archive .pagination,
	.no-sidebar #primary.category-archive .page-header,
	.no-sidebar #primary.category-archive .page-content,
	.no-sidebar #primary.category-archive .content-bottom-widgets {
		margin-right: 0;
		margin-left: 0;
	}
	.no-sidebar #primary.category-archive .entry-header,
	.no-sidebar #primary.category-archive .entry-content,
	.no-sidebar #primary.category-archive .entry-summary,
	.no-sidebar #primary.category-archive .entry-footer,
	.no-sidebar #primary.category-archive .comments-area,
	.no-sidebar #primary.category-archive .image-navigation,
	.no-sidebar #primary.category-archive .post-navigation,
	.no-sidebar #primary.category-archive .pagination,
	.no-sidebar #primary.category-archive .page-header,
	.no-sidebar #primary.category-archive .page-content,
	.no-sidebar #primary.category-archive .content-bottom-widgets,

	.breadcrumbs
	 {
		width: 100%;
	}
}

#primary.category-archive .page-header{
	border-top: none;
	padding-top: 0;
}

@media screen and (max-width:910px){
	.breadcrumbs {
		margin-right: 7.6923%;
		margin-left: 7.6923%;
	}
}